.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(241, 241, 241, 0.8);
  z-index: 100;
  text-align: center;
  top: 0;
  left: 0;
}
.loading .icon {
  display: table;
  height: 100%;
  width: 100%;
}
.loading .icon .img {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.loading-container {
  position: relative;
  height: 100%;
}
