.pagination-container {
  float: right;
}
.page-item .page-link {
  background: #f1f1f1 !important;
  border: 0 !important;
  color: #33c3b3 !important;
  border-left: 1px solid #e3e1e1 !important;
  padding: 6px 15px !important;
}
.page-item .page-link:hover {
  background: #33c3b3 !important;
  color: #fff !important;
}
.page-item:first-child .page-link {
  border-left: 0 !important;
}
.page-item.active .page-link {
  background: #33c3b3 !important;
  color: #fff !important;
}
.page-item.disabled .page-link {
  color: #ccc !important;
}
