.registration-box {
  padding: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.registration-box .actions {
  margin-top: 30px;
}
.registration-box .submit-btn {
  margin-right: 30px;
}
.registration-container {
  margin-top: 100px;
}
.registration-box .alert {
  margin-top: 20px;
}
